.logo {
    margin: 24px 0 30px 0;
    width: 64px;
}

.sidebar {
    width: 86px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #272322;
    height: 100vh;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.icon {
    width: 20px;
}

.box-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    user-select: none;
}

.box-icon:not(.active):hover {
    background-color: #b3b3f8;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #5051F9;
    border-radius: 5px;
    color: white;
}